h1 {
  font-size:150px;
  text-align:center;
  border-bottom:1px solid #ffe890;
  margin:0;
  padding:20px;
  color:#ffd790
}
ol {
  border-right:1px solid #ffe890;
  width:300px;
  margin:0;
  padding:20px;
  padding-left:40px;
  color:#ffd790
}

a {
text-decoration:none;
color:#ffd790;
font-size: 50px;
}
#r{
  display:grid;
  grid-template-columns: 400px 1fr;
  color:#ffd790;
}
